@using T034.Models
@using T034.Tools.Auth
<!DOCTYPE html>
<html ng-app="appname">
<head>
    <title>@ViewBag.Title</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-theme.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/DataTables-1.10.2/media/css/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular/angular.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/DataTables-1.10.2/media/js/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var appname = angular.module('appname', []);
        appname.controller('appCtrl', ['$scope',
          function ($scope) {
              $scope.greeting = { text: 'Hello' };
          } ]);
    </script>
</head>

    <body>
        
        @{
            var userModel = YandexAuth.GetUser(Request);
        }
        @Html.Partial("AuthPartialView", userModel)
        <table cellspacing=0 cellpadding=0 border=0 width="804" align="center">
            <tr>
                <td width="2" BACKGROUND="@Url.Content("~/Content/pic/cvl.png")"><img src="@Url.Content("~/Content/pic/cvl.png")"></td>
                <td></td>
                <td>
                    <div>
                        <div><img src="@Url.Content("~/Content/pic/banner.png")" alt="Баннер" height="200px" width="800px"></div>
			
                        <!--Begin MainMenu-->
                        @Html.Partial("MainMenu")
                        <!--End MainMenu-->
			
                        @*<div class="text">*@
                        <!--Begin Body-->
                        @RenderBody()
                        <!--End Body-->
                        @*</div>*@
                        <div class="bottommenu"><a href="" class="bottommenu"> Новости :: Цели и задачи :: Услуги и цены :: Фотогалерея :: О нас :: Контакты</a></div>
                    </div>
                </td>
                <td width="2" BACKGROUND="@Url.Content("~/Content/pic/cvl.png")"><img src="@Url.Content("~/Content/pic/cvl.png")" width="2px"></td>
                <td></td>
            </tr>
            <tr><td height="3" BACKGROUND="@Url.Content("~/Content/pic/cvl.png")"></td>
<td height="3" BACKGROUND="@Url.Content("~/Content/pic/cvl.png")" width="800px"></td>
                <td height="3" BACKGROUND="@Url.Content("~/Content/pic/cvl.png")"></td>
               <td height="3" BACKGROUND="@Url.Content("~/Content/pic/cvl.png")"></td></tr>
            <tr><td colspan=3 align="right" height="25"><a href="" class="bmenu">2015 &copy; "Детский оздоровительный центр физической культуры и спорта"</a><td></tr>

            </table>
		
    </body>
</html>
