

<div class="btn-group" role="group">
	<div class="btn-group" role="group"><a href="/Page/Index/1"><img src="@Url.Content("~/Content/pic/menu1.png")" alt="Новости" height="52px" width="161px"></a></div>
	<div class="btn-group" role="group"><a href="/Page/Index/2"><img src="@Url.Content("~/Content/pic/menu2.png")" alt="Новости" height="52px" width="161px"></a></div>
	<div class="btn-group" role="group"><a href="/Page/Index/3"><img src="@Url.Content("~/Content/pic/menu3.png")" alt="Новости" height="52px" width="161px"></a></div>
	<div class="btn-group" role="group"><a href="/Page/Index/4"><img src="@Url.Content("~/Content/pic/menu4.png")" alt="Новости" height="52px" width="161px"></a></div>
	<div class="btn-group" role="group"><a href="/Page/Index/5"><img src="@Url.Content("~/Content/pic/menu5.png")" alt="Новости" height="52px" width="160px"></a></div>
</div>
