@model IEnumerable<T034.ViewModel.PageViewModel>

@{
    ViewBag.Title = "Страницы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("Добавить", "AddOrEdit", "Page")
@{
    foreach (var news in Model)
    {
        <p>@news.Id.ToString()</p>
        <p>@news.Title</p>
        <p>@Html.ActionLink("Редактировать", "AddOrEdit", new { id = news.Id })</p>
        <p>@Html.ActionLink("Подробнее", "Preview", new { id = news.Id })</p>
    }
}
